@import url("colors.css");

window {
    background-color: transparent;
    font-size: 15px;
    font-family: "IBM Plex Sans";
    font-weight: 500;
}

.panel {
    background-color: transparent;
    padding: 0px 12px 0px 0px;
}

button {
    /* Remove default background image that prevents setting background-color */
    background-image: none;
    /* Remove default box shadow since it creates a white line of top of the
     * button. */
    box-shadow: none;
    background-color: transparent;
    color: @foreground;
    padding: 0px 10px;
    border-radius: 0px;
    border-width: 0px;
    border-color: transparent;
    /* With `all`, when the workspace button is created, you can see
     * the transition from default style to new style which is jarring. This
     * removes that. */
    transition-property: none;
}

button:hover {
    background-color: rgba(183, 168, 95, .5); /* color1 */
    transition-property: all;
}

.workspace-active, .workspace-occupied {
    padding: 0px 10px;
}

.workspace-active {
    border-width: 0px;
    font-size: 17px;
    background-color: @color1;
    color: @background;
    text-shadow: none;
}

.status-widget {
    padding: 0px 8px;
    border-radius: 5px;
    color: @foreground;
}
