@import url("colors.css");

* {
    font-size: 15px;
    font-family: "IBM Plex Sans";
    font-weight: 500;
}

window.panel {
    background-color: transparent;
    padding: 0px 12px 0px 0px;
}

window.volume-controls {
    background-color: rgba(0, 0, 0, .5);
}

box.volume-controls {
    padding: 10px 20px;
    border: 1px solid @foreground;
    border-radius: 13px;
}

.volume-slider {
    min-width: 20rem;
    min-height: 20px;
}

.volume-slider trough {
    min-height: .75rem;
    border-radius: 50px;
    border-width: 0px;
    outline-width: 0px;
}

.volume-slider slider:active {
    border-color: @foreground;
}

.volume-slider highlight {
    background-color: @color6;
    border-radius: 50px;
    border-width: 0px;
}

.volume-slider value {
    color: @foreground;
    margin-left: 5px;
}

button {
    /* Remove default background image that prevents setting background-color */
    background-image: none;
    /* Remove default box shadow since it creates a white line of top of the
     * button. */
    box-shadow: none;
    background-color: transparent;
    color: @foreground;
    padding: 0px 10px;
    border-radius: 0px;
    border-width: 0px;
    border-color: transparent;
    /* With `all`, when the workspace button is created, you can see
     * the transition from default style to new style which is jarring. This
     * removes that. */
    transition-property: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

button:hover {
    background-color: rgba(183, 168, 95, .5); /* color1 */
    transition-property: all;
}

.workspace-active, .workspace-occupied, .workspace-add {
    padding: 0px 10px;
    border-radius: 5px;
}

.workspace-active {
    border-width: 0px;
    font-size: 17px;
    background-color: @color1;
    color: @background;
    text-shadow: none;
}

.status-widget {
    padding: 0px 8px;
    border-radius: 5px;
    color: @foreground;
}

.battery-icon {
    padding: 0px 0px 0px 3px;
}
